{% load static %}
<!-- Left Sidebar Start -->
            <div class="app-sidebar-menu">
                <div class="h-100" data-simplebar>

                    <!--- Sidemenu -->
                    <div id="sidebar-menu">

                        <div class="logo-box">
                            <a class='logo logo-light' href='/hando/html/'>
                                <span class="logo-sm">
                                    <img src="{% static 'vendor/hando/images/logo-sm.png' %}" alt="" height="22">
                                </span>
                                <span class="logo-lg">
                                    <img src="{% static 'vendor/hando/images/logo-light.png' %}" alt="" height="22">                                </span>
                            </a>
                            <a class='logo logo-dark' href='/hando/html/'>
                                <span class="logo-sm">
                                    <img src="{% static 'vendor/hando/images/logo-sm.png' %}" alt="" height="22">
                                </span>
                                <span class="logo-lg">
                                    <img src="{% static 'vendor/hando/images/logo-dark.png' %}" alt="" height="22">
                                </span>
                            </a>
                        </div>
<!-- Aqui empieza el menu-->
                        <ul id="side-menu">
                            <li class="menu-title">Análisis de Proyecto</li>
                            {% if project and project.pk %}
                            <li>
                                <a href="{% url 'seo:project_dashboard' project.pk %}">
                                    <i data-feather="home"></i>
                                    <span> Dashboard </span>
                                </a>
                            </li>

                            <li class="menu-title">Keyword Research</li>
                            <li>
                                <a href="{% url 'keyword_research:magic_tool' %}?project={{ project.id }}">
                                    <i data-feather="fe-zap"></i> <span> Keyword Magic Tool </span>
                                </a>
                            </li>

                            <li class="menu-title">Google Stats</li>
                            <li>
                                <a href="#">
                                    <i data-feather="bar-chart-2"></i>
                                    <span> Search Console </span>
                                </a>
                            </li>
                            {% endif %}
                        </ul>
            
                    </div>
                    <!-- End Sidebar -->

                    <div class="clearfix"></div>

                </div>
            </div>
            <!-- Left Sidebar End -->