
<!DOCTYPE html>
{% load static %}
{% include 'includes/head.html' %}
    <!-- body start -->
    <body data-menu-color="light" data-sidebar="default">

        <!-- Begin page -->
        <div id="app-layout">
        {% include 'includes/topbar.html' %}

        {% include 'includes/sidebar.html' %}




            <!-- ============================================================== -->
            <!-- Start Page Content here -->
            <!-- ============================================================== -->
         
            <div class="content-page">
                <div class="content">

                    <!-- Start Content-->
                    <div class="container-fluid">
                    
                        {% block content %}{% endblock %}

                    </div> <!-- container-fluid -->
                </div> <!-- content -->
            </div>  
                {% include 'includes/footer.html' %}

            
            <!-- ============================================================== -->
            <!-- End Page content -->
            <!-- ============================================================== -->

            {% include 'includes/vendor.html' %}
        </div>
        <!-- END wrapper -->

        

        <!-- App js-->
         
        <script>
            {% if messages %}
                {% for message in messages %}
                    Toast.fire({
                        icon: '{{ message.tags }}', 
                        title: '{{ message }}'
                    });
                {% endfor %}
            {% endif %}
            
            // ELIMINA EL BLOQUE DE Swal.fire DE AQUÍ
        </script>
        {% block extra_js %} {% endblock %}
    </body>
</html>