<!-- meta tags and other links -->
 {% load static %}
<!DOCTYPE html>
<html lang="en" data-theme="light">

{% include 'includes/head.html' %}


<body class="dark:bg-neutral-800 bg-neutral-100 dark:text-white">

    <!-- ..::  header area start ::.. -->
    {% include 'includes/sidebar.html' %}
    <!-- ..::  header area end ::.. -->

    <main class="dashboard-main">

        <!-- ..::  navbar start ::.. -->
        {% include 'includes/navbar.html' %}
        <!-- ..::  navbar end ::.. -->
        <div class="dashboard-main-body">
            
            
            {% block breadcrumb%}
                <!-- ..::  breadcrumb  start ::.. -->
                {% include 'includes/breadcrumb.html' %}
                <!-- ..::  header area end ::.. -->
            {% endblock %}
            {% block content %}

            {% endblock content %} 
        
        </div>
        <!-- ..::  footer  start ::.. -->
        {% include 'includes/footer.html' %}
        <!-- ..::  footer area end ::.. -->

    </main>

    <!-- ..::  scripts  start ::.. -->
    {% include 'includes/script.html' %}

    {% block extra_js %}

    {% endblock extra_js %}
    <!-- ..::  scripts  end ::.. -->

</body>

</html>